@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


body{
    background: #f6f6f6;
    color: #18171c;
    overflow-y: hidden;
    overflow-x: hidden;
}

.blob{
    margin-top: -60px;
}

.img{
    margin-top: -550px;
    margin-left: 20px;
}



h2{
    color: #18171c;
}


.row{
    margin-left: 700px;
    margin-top: -450px;
    width: 40%;
    height: 500px;
    border-radius: 20px;
    border: 2px solid #3ab5f3;
    transition: .3s;
}

.row:hover{
    box-shadow:#3ab5f3 7px 7px 7px;
}

@media screen and (max-width: 768px) {
    
    body{
        overflow-x: hidden;
    }
    
    .blob{
        visibility: hidden;
    }

    .img{
        visibility: hidden;
    }

    form{
        transform: translateX(-620px) translateY(-55px);
        
    }

    .row{
        width: 350px;
        height: 590px;
    }

}