@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #f6f6f6;
}

::selection{
    color: #f6f6f6;
}

::-webkit-scrollbar{
    width: 3px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ddd;
}
::-webkit-scrollbar-thumb:hover{
    background: #ccc;
}

.wrapper{
    width: 1000px;
    background:#f6f6f6;
    border-radius: 5px;
    border-top: 0px;
    box-shadow: #3ab5f386 30px 30px 30px;
    margin-left: -300px;
}
.wrapper .title{
    background: #3ab4f3;
    color: #f6f6f6;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #f6f6f6;
    border-radius: 5px 5px 0 0;
}
.wrapper .form{
    padding: 20px 15px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}
.wrapper .form .inbox{
    width: 100%;
    display: flex;
    align-items: baseline;
}
.wrapper .form .user-inbox{
    justify-content: flex-end;
    margin: 13px 0;
}
.wrapper .form .inbox .icon{
    height: 40px;
    width: 40px;
    color: #f6f6f6;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
    background: #3ab4f3;
}
.wrapper .form .inbox .msg-header{
    max-width: 53%;
    margin-left: 10px;
}
.form .inbox .msg-header p{
    color: #f6f6f6;
    background: #3ab4f3;
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 14px;
    word-break: break-all;
}
.form .user-inbox .msg-header p{
    color: white;
    background: #01f874;
}
.wrapper .typing-field{
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background:#3ab5f371;
    border-radius: 0 0 5px 5px;
    border: 2px solid #18171c4a;
}
.wrapper .typing-field .input-data{
    height: 40px;
    width: 790px;
    position: relative;
}
.wrapper .typing-field .input-data input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #f6f6f6;
    border: 1px solid #18171c41;
    padding: 0 80px 0 15px;
    border-radius: 3px;
    font-size: 15px;
    background: #3ab5f3;
    transition: all 0.3s ease;
}
.typing-field .input-data input:focus{
    border-color: #f2df3b;
}
.input-data input::placeholder{
    color: #f6f6f6;
    transition: all 0.3s ease;
}
.input-data input:focus::placeholder{
    color: #bfbfbf;
}
.wrapper .typing-field .input-data button{
    position: absolute;
    right: 5px;
    top: 50%;
    height: 30px;
    width: 65px;
    color: #f6f6f6;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    background: #f2df3b;
    border: 1px solid #18171c24;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}
.wrapper .typing-field .input-data input:valid ~ button{
    opacity: 1;
    pointer-events: auto;
}
.typing-field .input-data button:hover{
    background: #01f874;
    color: #18171c;
    border: 1px solid #18171c24;
}


@media screen and (max-width: 768px) {

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html,body{
        display: grid;
        height: 100%;
        place-items: center;
        background: #f6f6f6;
    }

    ::selection{
        color: #f6f6f6;
    }

    ::-webkit-scrollbar{
        width: 3px;
        border-radius: 25px;
    }
    ::-webkit-scrollbar-track{
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb{
        background: #ddd;
    }
    ::-webkit-scrollbar-thumb:hover{
        background: #ccc;
    }

    .wrapper{
        width: 1000px;
        background:#f6f6f6;
        border-radius: 5px;
        border-top: 0px;
        box-shadow: #3ab5f386 30px 30px 30px;
        margin-left: -300px;
    }
    .wrapper .title{
        background: #3ab4f3;
        color: #f6f6f6;
        font-size: 20px;
        font-weight: 500;
        line-height: 60px;
        text-align: center;
        border-bottom: 1px solid #f6f6f6;
        border-radius: 5px 5px 0 0;
    }
    .wrapper .form{
        padding: 20px 15px;
        min-height: 400px;
        max-height: 400px;
        overflow-y: auto;
    }
    .wrapper .form .inbox{
        width: 100%;
        display: flex;
        align-items: baseline;
    }
    .wrapper .form .user-inbox{
        justify-content: flex-end;
        margin: 13px 0;
    }
    .wrapper .form .inbox .icon{
        height: 40px;
        width: 40px;
        color: #f6f6f6;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        font-size: 18px;
        background: #3ab4f3;
    }
    .wrapper .form .inbox .msg-header{
        max-width: 53%;
        margin-left: 10px;
    }
    .form .inbox .msg-header p{
        color: #f6f6f6;
        background: #3ab4f3;
        border-radius: 10px;
        padding: 8px 10px;
        font-size: 14px;
        word-break: break-all;
    }
    .form .user-inbox .msg-header p{
        color: white;
        background: #01f874;
    }
    .wrapper .typing-field{
        display: flex;
        height: 60px;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        background:#3ab5f371;
        border-radius: 0 0 5px 5px;
        border: 2px solid #18171c4a;
    }
    .wrapper .typing-field .input-data{
        height: 40px;
        width: 790px;
        position: relative;
    }
    .wrapper .typing-field .input-data input{
        height: 100%;
        width: 100%;
        outline: none;
        color: #f6f6f6;
        border: 1px solid #18171c41;
        padding: 0 80px 0 15px;
        border-radius: 3px;
        font-size: 15px;
        background: #3ab5f3;
        transition: all 0.3s ease;
    }
    .typing-field .input-data input:focus{
        border-color: #f2df3b;
    }
    .input-data input::placeholder{
        color: #f6f6f6;
        transition: all 0.3s ease;
    }
    .input-data input:focus::placeholder{
        color: #bfbfbf;
    }
    .wrapper .typing-field .input-data button{
        position: absolute;
        right: 5px;
        top: 50%;
        height: 30px;
        width: 65px;
        color: #f6f6f6;
        font-size: 16px;
        cursor: pointer;
        outline: none;
        opacity: 0;
        pointer-events: none;
        border-radius: 3px;
        background: #f2df3b;
        border: 1px solid #18171c24;
        transform: translateY(-50%);
        transition: all 0.3s ease;
    }
    .wrapper .typing-field .input-data input:valid ~ button{
        opacity: 1;
        pointer-events: auto;
    }
    .typing-field .input-data button:hover{
        background: #01f874;
        color: #18171c;
        border: 1px solid #18171c24;
    }

}

