body{
    overflow-y: hidden;
    overflow-x: hidden;
}

.img{
    margin-left: 40px;
    margin-top: 120px;
}


.menu{
    rotate: 90deg;
    margin-left: -900px;
}

.inform{
    width: 1020px;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-top: -980px;
}

input{
    outline: none;
    border-width: 0 0 0.1rem;
    border-color: #3ab4f3;
}

textarea{
    border-width: 0.1 0 0.1rem;
    border-color: #3ab4f3;

}

#title{
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    height: 60px;
}


#txt{
    font-size: 15px;
    border-radius: 10px;
    height: 350px;
}

.btn{
    height: 40px;
}